### Делаем запрос

In [2]:
import requests

In [3]:
import requests # Импортируем библиотеку requests
url = 'https://www.cbr-xml-daily.ru/daily_json.js' # Определяем значение URL страницы для запроса
response = requests.get(url) # Делаем GET-запрос к ресурсу и результат ответа сохраняем в переменной response

In [4]:
print(response) # Выводим значение response на экран как объект
print(response.status_code) # Выводим числовое значение response на экран

<Response [200]>
200

### Работаем с ответом

In [5]:
# print(response.text) # Выводим содержимое атрибута text переменной response на экран
print(type(response.text))

<class 'str'>

In [6]:
from pprint import pprint # Импортируем функцию pprint()
import json # Импортируем модуль json
currencies = response.json() # Применяем метод json() Теперь данные находятся в словаре и можно легко получать необходимые значения
#pprint(currencies) # Выводим результат на экран

In [7]:

pprint(currencies['Valute']['EUR']) # Выводим на экран информацию о валюте евро
print(currencies['Valute']['CZK']['Name'])

{'CharCode': 'EUR',
 'ID': 'R01239',
 'Name': 'Евро',
 'Nominal': 1,
 'NumCode': '978',
 'Previous': 94.2559,
 'Value': 93.6087}
Чешских крон

### Получаем содержимое веб-страницы

In [8]:
import requests # Импортируем библиотеку requests
from bs4 import BeautifulSoup # Импортируем библиотеку BeautifulSoup
url = 'https://nplus1.ru/news/2021/10/11/econobel2021' # Определяем адрес страницы
response = requests.get(url) # Выполняем GET-запрос, содержимое ответа присваивается переменной response
#print(response.text)  # Выводим содержимое атрибута text
page = BeautifulSoup(response.text, 'html.parser') # Создаём объект BeautifulSoup, указывая html-парсер
print(page.title) # Получаем тег title, отображающийся на вкладке браузера
print(page.title.text) # Выводим текст из полученного тега, который содержится в атрибуте text

<title>Премию Нобеля по экономике присудили за исследования экономики труда и причинно-следственных связей</title>
Премию Нобеля по экономике присудили за исследования экономики труда и причинно-следственных связей

In [9]:
print(page.find('h1').text) 
print(page.h1.text)

            Премию Нобеля по экономике присудили за исследования экономики труда и причинно-следственных связей


            Премию Нобеля по экономике присудили за исследования экономики труда и причинно-следственных связей

In [10]:
# 5.4 Напишите функцию wiki_header, которая по адресу страницы возвращает заголовок первого уровня для статей на Wikipedia.
#Функция wiki_header принимает один аргумент - url.
def wiki_header(url):
    response = requests.get(url)
    page = BeautifulSoup(response.text, 'html.parser')
    return page.h1.text

wiki_header('https://ru.wikipedia.org/wiki/Pink_Floyd')

'Pink Floyd'

In [11]:
print(page.find('p').text) # Выводим содержимое атрибута text тега div
print(page.find('div', class_ ='n1_material text-18').text) # Выводим содержимое атрибута text тега div класса n1_material text-18

Премия Шведского национального банка по экономическим наукам памяти Альфреда Нобеля за 2021 год присуждена Дэвиду Карду (David Card) за его вклад в эмпирические исследования экономики рынка труда, а также Джошуа Энгристу (Joshua Angrist) и Гвидо Имбенсу (Guido Imbens) за их вклад в методологию анализа причинно-следственных связей. Прямая трансляция церемонии объявления лауреатов шла на официальном сайте Нобелевской премии.
Премия Шведского национального банка по экономическим наукам памяти Альфреда Нобеля за 2021 год присуждена Дэвиду Карду (David Card) за его вклад в эмпирические исследования экономики рынка труда, а также Джошуа Энгристу (Joshua Angrist) и Гвидо Имбенсу (Guido Imbens) за их вклад в методологию анализа причинно-следственных связей. Прямая трансляция церемонии объявления лауреатов шла на официальном сайте Нобелевской премии.

In [12]:
print(page.find('span', class_= "group-hover:text-main transition-colors duration-75").text)
#<span class="group-hover:text-main transition-colors duration-75">11.10.21</span>
print(page.find('a', class_= "relative").text)

13:04

11.10.21

### Сбор нескольких элементов: собираем все ссылки на странице

In [13]:
url = 'https://en.wikipedia.org/wiki/List_of_programming_languages' # Задаём адрес ресурса
response = requests.get(url) # Делаем GET-запрос к ресурсу
page = BeautifulSoup(response.text, 'html.parser') # Создаём объект BeautifulSoup
print(page.find('a')) # Ищем ссылку по тегу <a> и выводим её на экран

<a class="mw-jump-link" href="#bodyContent">Jump to content</a>

In [14]:
links = page.find_all('a') # Ищем все ссылки на странице и сохраняем в переменной links в виде списка
print(len(links)) # Выводим количество найденных ссылок
print([link.text for link in links[0:10]]) # Выводим ссылки с 500 по 509 включительно

964
['Jump to content', 'Main page', 'Contents', 'Current events', 'Random article', 'About Wikipedia', 'Contact us', 'Help', 'Learn to edit', 'Community portal']

## API

### Запрос к API из кода

In [15]:
import requests # Импортируем модуль requests
token = 'b86c2a9bb86c2a9bb86c2a9bd1bb477555bb86cb86c2a9bdfa8084e87d4959adff4395c' # Указываем свой сервисный токен
url = 'https://api.vk.com/method/users.get' # Указываем адрес страницы к которой делаем запрос
params = {'user_id': 1, 'v': 5.95, 'fields': 'sex,bdate', 'access_token': token, 'lang': 'ru'} # Перечисляем параметры нашего запроса в словаре params
response = requests.get(url, params=params) # Отправляем запрос
print(response.text) # Выводим текст ответа на экран

{"response":[{"id":1,"bdate":"10.10.1984","sex":2,"first_name":"Павел","last_name":"Дуров","can_access_closed":true,"is_closed":false}]}

In [16]:
from pprint import pprint # Импортируем функцию pprint()
pprint(response.json()) # Выводим содержимое словаря, содержащего ответ, на экран

{'response': [{'bdate': '10.10.1984',
               'can_access_closed': True,
               'first_name': 'Павел',
               'id': 1,
               'is_closed': False,
               'last_name': 'Дуров',
               'sex': 2}]}

In [17]:
user = response.json()['response'][0] # Извлекаем из словаря по ключу response информацию о первом пользователе
print(user['bdate']) # Выводим дату рождения первого пользователя на экран

10.10.1984

In [18]:
ids = ",".join(map(str, range(1, 4))) # Формируем строку, содержащую информацию о поле id первых трёх пользователей
params = {'user_ids': ids, 'v': 5.95, 'fields': 'bdate', 'access_token': token, 'lang': 'ru'} # Формируем строку параметров
users = requests.get(url, params=params).json() # Посылаем запрос, полученный ответ в формате JSON-строки преобразуем в словарь
#и выводим на экран его содержимое, используя функцию pprint()
pprint(users)

{'response': [{'bdate': '10.10.1984',
               'can_access_closed': True,
               'first_name': 'Павел',
               'id': 1,
               'is_closed': False,
               'last_name': 'Дуров'},
              {'bdate': '14.2',
               'can_access_closed': False,
               'first_name': 'Александра',
               'id': 2,
               'is_closed': True,
               'last_name': 'Владимирова'},
              {'can_access_closed': True,
               'deactivated': 'deleted',
               'first_name': 'DELETED',
               'id': 3,
               'is_closed': False,
               'last_name': ''}]}

In [19]:
#6.2
# Используя API, определите долю женщин (sex=1) среди пользователей с id от 1 до 500. 
# Иногда будут попадаться пользователи, у которых пол не указан (sex=0), — таких пользователей не нужно учитывать в общем числе.
#В ответе укажите число, округлив до двух знаков после точки-разделителя, например, 0.55.
ids = ",".join(map(str, range(1, 501)))
params = {'user_ids': ids, 'v': 5.95, 'fields': 'sex', 'access_token': token, 'lang': 'ru'} # Формируем строку параметров
users = requests.get(url, params=params).json()['response']
#pprint(users)
sex_list=[]
for user in users:
    sex_list.append(user['sex'])

print(round(sex_list.count(1)/(sex_list.count(2)+sex_list.count(1)),2))

0.49

## Сбор информации из групп

In [20]:
import requests # Импортируем модуль requests
token = 'b86c2a9bb86c2a9bb86c2a9bd1bb477555bb86cb86c2a9bdfa8084e87d4959adff4395c' # Указываем свой сервисный токен
url = 'https://api.vk.com/method/groups.getMembers' # Указываем адрес обращения
params = {'group_id': 'vk', 'v': 5.95, 'access_token': token} # Формируем строку параметров
response = requests.get(url, params = params) # Посылаем запрос
data = response.json() # Ответ сохраняем в переменной data в формате словаря
print(data) # Выводим содержимое переменной data на экран (отображён фрагмент)

{'response': {'count': 18393886, 'items': [5, 6, 14, 19, 34, 47, 54, 79, 88, 102, 106, 163, 166, 177, 198, 212, 219, 243, 254, 279, 296, 302, 345, 353, 403, 404, 421, 431, 433, 450, 467, 485, 510, 513, 550, 619, 640, 690, 696, 702, 721, 741, 804, 809, 832, 834, 847, 900, 905, 907, 914, 921, 930, 943, 952, 958, 966, 976, 997, 1000, 1018, 1023, 1032, 1033, 1039, 1058, 1059, 1091, 1097, 1127, 1128, 1131, 1139, 1140, 1159, 1174, 1179, 1185, 1188, 1213, 1245, 1270, 1273, 1301, 1322, 1333, 1334, 1351, 1381, 1386, 1388, 1406, 1411, 1418, 1432, 1490, 1494, 1503, 1531, 1550, 1568, 1570, 1575, 1586, 1590, 1593, 1598, 1610, 1615, 1632, 1634, 1650, 1665, 1674, 1679, 1690, 1697, 1698, 1699, 1700, 1721, 1740, 1745, 1754, 1796, 1814, 1820, 1822, 1829, 1834, 1839, 1840, 1843, 1852, 1858, 1863, 1869, 1887, 1889, 1917, 1925, 1936, 1941, 1943, 1946, 1947, 1955, 1969, 2019, 2022, 2028, 2030, 2042, 2050, 2051, 2052, 2059, 2069, 2077, 2103, 2136, 2150, 2195, 2201, 2222, 2230, 2236, 2254, 2273, 2281, 2296, 2298, 2306, 2375, 2376, 2389, 2395, 2403, 2412, 2413, 2436, 2444, 2456, 2466, 2470, 2484, 2513, 2515, 2523, 2534, 2538, 2539, 2576, 2592, 2593, 2601, 2617, 2622, 2644, 2654, 2676, 2692, 2703, 2706, 2745, 2755, 2767, 2787, 2788, 2797, 2813, 2827, 2858, 2860, 2894, 2908, 2909, 2919, 2922, 2932, 2943, 2953, 2962, 2982, 3001, 3006, 3041, 3130, 3135, 3139, 3153, 3162, 3172, 3186, 3196, 3201, 3203, 3231, 3250, 3254, 3290, 3316, 3321, 3328, 3331, 3332, 3357, 3364, 3372, 3373, 3383, 3384, 3388, 3402, 3420, 3422, 3427, 3431, 3436, 3438, 3450, 3451, 3458, 3472, 3483, 3486, 3491, 3492, 3520, 3545, 3556, 3581, 3593, 3626, 3637, 3646, 3653, 3657, 3658, 3674, 3675, 3684, 3690, 3693, 3697, 3719, 3775, 3786, 3820, 3824, 3836, 3837, 3851, 3856, 3863, 3894, 3904, 3909, 3938, 3948, 3960, 3979, 3994, 3997, 4004, 4010, 4023, 4026, 4041, 4047, 4048, 4058, 4108, 4130, 4157, 4169, 4175, 4189, 4192, 4196, 4213, 4234, 4236, 4262, 4265, 4282, 4326, 4338, 4364, 4378, 4439, 4440, 4447, 4449, 4485, 4492, 4505, 4521, 4528, 4530, 4537, 4543, 4554, 4558, 4563, 4564, 4583, 4599, 4601, 4603, 4617, 4640, 4668, 4669, 4670, 4672, 4680, 4689, 4693, 4728, 4731, 4748, 4754, 4755, 4767, 4769, 4770, 4790, 4818, 4825, 4828, 4841, 4846, 4857, 4862, 4866, 4881, 4913, 4918, 4921, 4923, 4927, 4928, 4947, 4972, 4975, 4981, 4984, 5011, 5017, 5073, 5102, 5106, 5129, 5142, 5161, 5163, 5166, 5170, 5183, 5262, 5273, 5276, 5280, 5286, 5354, 5386, 5387, 5392, 5394, 5399, 5401, 5430, 5432, 5436, 5438, 5472, 5484, 5527, 5546, 5547, 5585, 5590, 5597, 5606, 5615, 5629, 5634, 5665, 5690, 5701, 5733, 5746, 5752, 5768, 5793, 5803, 5819, 5837, 5846, 5850, 5866, 5875, 5876, 5896, 5914, 5916, 5932, 5944, 5959, 5965, 5968, 5990, 5991, 5993, 5997, 6000, 6002, 6021, 6037, 6046, 6078, 6086, 6099, 6107, 6111, 6125, 6136, 6154, 6155, 6161, 6167, 6181, 6183, 6186, 6187, 6199, 6203, 6240, 6260, 6265, 6293, 6323, 6333, 6339, 6379, 6380, 6383, 6390, 6393, 6400, 6440, 6492, 6520, 6547, 6557, 6564, 6595, 6604, 6627, 6635, 6670, 6673, 6683, 6689, 6701, 6703, 6709, 6715, 6740, 6758, 6775, 6797, 6801, 6807, 6851, 6855, 6862, 6894, 6906, 6950, 6960, 6994, 7006, 7012, 7040, 7047, 7050, 7052, 7068, 7091, 7099, 7112, 7115, 7117, 7126, 7141, 7180, 7188, 7200, 7226, 7227, 7262, 7286, 7290, 7323, 7338, 7347, 7360, 7391, 7402, 7404, 7408, 7428, 7451, 7473, 7481, 7492, 7500, 7517, 7525, 7542, 7543, 7547, 7557, 7581, 7595, 7615, 7628, 7639, 7652, 7661, 7666, 7700, 7725, 7737, 7755, 7768, 7777, 7799, 7822, 7830, 7847, 7855, 7858, 7860, 7882, 7962, 7982, 7996, 7998, 8019, 8069, 8080, 8093, 8114, 8131, 8140, 8149, 8151, 8156, 8157, 8166, 8167, 8168, 8181, 8182, 8194, 8195, 8201, 8224, 8266, 8273, 8297, 8298, 8310, 8321, 8323, 8331, 8347, 8348, 8363, 8377, 8398, 8418, 8422, 8436, 8443, 8479, 8484, 8485, 8505, 8518, 8536, 8544, 8561, 8576, 8589, 8597, 8610, 8612, 8622, 8636, 8642, 8656, 8658, 8693, 8704, 8718, 8727, 8738, 8752, 8777, 8792, 8813, 8855, 8875, 8883, 8909, 8910, 8937, 8959, 8978, 8998, 9000, 9014, 9016, 9018, 9039, 9059, 9079, 9092, 9095, 9100, 9110, 9111, 9115, 9127, 9173, 9180, 9187, 9189, 9206, 9222, 9246, 9256, 9327, 9343, 9352, 9399, 9408, 9412, 9413, 9419, 9435, 9444, 9447, 9450, 9459, 9466, 9480, 9499, 9502, 9532, 9536, 9547, 9556, 9566, 9569, 9571, 9579, 9593, 9598, 9699, 9723, 9737, 9741, 9748, 9775, 9778, 9782, 9847, 9894, 9900, 9918, 9925, 9946, 9954, 9971, 9981, 9993, 10090, 10118, 10147, 10154, 10162, 10171, 10217, 10272, 10284, 10285, 10286, 10302, 10306, 10350, 10351, 10354, 10365, 10366, 10376, 10389, 10414, 10437, 10503, 10508, 10516, 10518, 10547, 10568, 10570, 10594, 10596, 10607, 10615, 10621, 10639, 10682, 10697, 10741, 10749, 10767, 10777, 10801, 10811, 10813, 10824, 10833, 10865, 10887, 10919, 10955, 10956, 10961, 10972, 10999, 11027, 11042, 11064, 11068, 11079, 11081, 11084, 11098, 11115, 11150, 11175, 11176, 11187, 11191, 11236, 11243, 11271, 11276, 11303, 11316, 11370, 11420, 11446, 11451, 11462, 11483, 11528, 11643, 11649, 11672, 11723, 11727, 11747, 11754, 11763, 11768, 11782, 11865, 11943, 11946, 11949, 11952, 11964, 11983, 11986, 12005, 12023, 12029, 12031, 12036, 12097, 12106, 12109, 12133, 12150, 12154, 12159, 12172, 12181, 12207, 12213, 12231, 12252, 12255, 12264, 12269, 12316, 12325, 12332, 12345, 12353, 12366, 12367, 12372, 12377, 12395, 12407, 12432, 12441, 12448, 12454, 12456, 12473, 12477, 12524, 12545, 12560, 12570, 12588, 12597, 12617, 12637, 12638, 12707, 12716, 12718, 12736, 12748, 12756, 12762, 12798, 12803, 12807, 12808, 12817, 12859, 12880, 12887, 12892, 12916, 12922, 12932, 12952, 12957, 12971, 12982, 13008, 13028, 13039, 13063, 13080, 13098, 13149, 13155, 13224, 13233, 13243, 13248, 13311, 13324, 13357, 13371, 13401, 13411, 13428, 13429, 13527, 13604, 13614, 13620, 13650, 13664, 13675, 13678, 13728, 13749, 13779, 13782, 13794, 13836, 13876, 13894, 13896, 13900, 13905, 13933, 13942, 13963, 13970, 13977, 13992, 14009, 14055, 14079, 14089, 14103, 14115, 14151, 14161, 14195, 14201, 14209, 14210, 14252, 14259, 14270, 14280, 14351, 14388, 14417, 14423, 14476, 14515, 14518, 14524, 14549, 14560, 14572, 14624, 14625, 14633, 14639, 14647, 14666, 14669, 14681, 14682, 14742, 14751, 14764, 14800, 14823, 14846, 14855, 14868, 14901, 14911, 14916, 14939, 14958, 14966, 15017, 15044, 15056, 15069], 'next_from': 'PUkGEFNHDhJkUVhGBQQW'}}

In [21]:
print(len(data['response']['items'])) # Выводим на экран количество элементов словаря
users_for_checking = data['response']['items'][:20] # Загружаем в переменную информацию об id первых 20 пользователей в виде списка
print(users_for_checking) # Выводим перечень id первых 20 пользователей

1000
[5, 6, 14, 19, 34, 47, 54, 79, 88, 102, 106, 163, 166, 177, 198, 212, 219, 243, 254, 279]

### ограничение на количество выгружаемых строк за один запрос.

In [22]:
import requests # Импортируем модуль requests
token = 'b86c2a9bb86c2a9bb86c2a9bd1bb477555bb86cb86c2a9bdfa8084e87d4959adff4395c' # Указываем свой сервисный токен
url = 'https://api.vk.com/method/groups.getMembers' # Указываем адрес обращения
count = 5 
offset = 0 
user_ids = [] 
max_count = 20 
while offset < max_count: 
    # Будем выгружать по count=5 пользователей, 
    # начиная с того места, где закончили на предыдущей итерации (offset) 
    print('Выгружаю {} пользователей с offset = {}'.format(count, offset))   
    params = {'group_id': 'vk', 'v': 5.95, 'count': count, 'offset': offset, 'access_token': token} 
    response = requests.get(url, params = params) 
    data = response.json() 
    user_ids += data['response']['items'] 
    # Увеличиваем смещение на количество строк, которое мы уже выгрузили 
    offset += count 
print(user_ids)

Выгружаю 5 пользователей с offset = 0
Выгружаю 5 пользователей с offset = 5
Выгружаю 5 пользователей с offset = 10
Выгружаю 5 пользователей с offset = 15
[5, 6, 14, 19, 34, 47, 54, 79, 88, 102, 106, 163, 166, 177, 198, 212, 219, 243, 254, 279]

### Ограничение по частоте запросов

#### Воспользуемся библиотекой time и методом sleep, с помощью которого мы можем добавить паузу, например в 0.5 секунд, после каждого запроса:

In [23]:
import requests # Импортируем модуль requests
import time # Импортируем модуль time
token = 'b86c2a9bb86c2a9bb86c2a9bd1bb477555bb86cb86c2a9bdfa8084e87d4959adff4395c' # Указываем свой сервисный токен
url = 'https://api.vk.com/method/groups.getMembers' # Указываем адрес страницы, к которой делаем запрос
count = 1000 
offset = 0  
user_ids = []  
while offset < 5000: 
    params = {'group_id': 'vk', 'v': 5.95, 'count': count, 'offset': offset, 'access_token': token} 
    response = requests.get(url, params = params) 
    data = response.json() 
    user_ids += data['response']['items'] 
    offset += count 
    print('Ожидаю 0.5 секунды...') 
    time.sleep(0.5) 
print('Цикл завершен, offset =',offset)

Ожидаю 0.5 секунды...
Ожидаю 0.5 секунды...
Ожидаю 0.5 секунды...
Ожидаю 0.5 секунды...
Ожидаю 0.5 секунды...
Цикл завершен, offset = 5000

### Лайки, репосты и комментарии

In [24]:
import requests # Импортируем модуль requests
from pprint import pprint # Импортируем функцию pprint()
token = 'b86c2a9bb86c2a9bb86c2a9bd1bb477555bb86cb86c2a9bdfa8084e87d4959adff4395c' # Указываем свой сервисный токен
url = 'https://api.vk.com/method/wall.get' # Указываем адрес страницы, к которой делаем запрос
params = {'domain': 'vk', 'filter': 'owner', 'count': 1000, 'offset': 0, 'access_token': token, 'v': 5.95} 
response = requests.get(url, params = params) 
#pprint(response.json())

In [25]:
len(response.json()['response']['items'])

100

In [26]:
response.json()['response']['items'][0]['text']

'Стоите в очереди, ждёте кого-то или просто сидите без дела — и тут подкралась скука? Без паники!\n \n5 развлекательных приложений ВКонтакте, которые спасут вас в любой ситуации. Работают и на телефоне, и на компьютере:\n• [https://vk.com/app6878533|«Печенька с предсказанием»] \n• [https://vk.com/app7985972|«Угадай, что нарисовано»] \n• [https://vk.com/app51602447|«СмешАпп»] \n• [https://vk.com/app51849332|VK Квиз] \n• [https://vk.com/app51796216|«Морской бой»]'

#### Давайте соберём итоговую статистику для последних десяти непустых сообщений в словарь stats. В качестве ключа будем использовать начало сообщения (если начало сообщения пустое, то информацию о таком сообщении проигнорируем), в качестве значения — список с тремя интересующими нас метриками и временем публикации (комментарии, лайки, репосты, дата публикации):

In [27]:
stats = {} 
count_post = 0 # Счётчик «непустых» сообщений
for record in response.json()['response']['items'][:]:
    title = record['text'][:30] 
    if title: 
        stats[title] = [record['comments']['count'], record['likes']['count'], record['reposts']['count'], record['date']] 
        count_post += 1 
    if count_post < 10: 
        continue 
    else: 
        break 
pprint(stats)

{'Будь собой. Будь разной. ВКонт': [741, 1197, 124, 1741355114],
 'В чатах ВКонтакте теперь можно': [1036, 1893, 963, 1738054822],
 'Весенние иконки уже в приложен': [801, 789, 203, 1741771153],
 'Заработок авторов контента ВКо': [1990, 1612, 458, 1738221930],
 'Поддерживать авторов через VK ': [1314, 839, 297, 1739873186],
 'Рабочие чаты мешаются с мемами': [678, 857, 279, 1741248052],
 'Сегодня — Всемирный день безоп': [1147, 969, 304, 1739277000],
 'Стоите в очереди, ждёте кого-т': [367, 295, 53, 1741959000],
 'Хорошая новость для всех, но о': [283, 504, 177, 1740988815],
 'Юре Борисову «Оскара» не вручи': [513, 1050, 310, 1741082052]}

## Скрипты, автозапуск

In [28]:

#!pip install schedule

#### Этот код будет каждую секунду проверять, не надо ли выполнить какую-то задачу, и раз в 15 минут будет выводить на экран фразу: "Hello! I am a task!" Вывод сообщения будет повторяться до тех пор, пока вы не остановите выполнение скрипта:

In [ ]:
import schedule

def task(): 
    print('Hello! I am a task!') 
    return

schedule.every(15).minutes.do(task)

import time 
while True: 
    schedule.run_pending() 
    time.sleep(1)

Hello! I am a task!
Hello! I am a task!
Hello! I am a task!
Hello! I am a task!
Hello! I am a task!
Hello! I am a task!
Hello! I am a task!

In [ ]:
schedule.every(15).minutes.do(task)
schedule.every(1).hour.do(task)

Every 15 minutes do task() (last run: [never], next run: 2025-03-10 21:42:04)

In [ ]:
import pandas as pd
countries_df = pd.DataFrame({
'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина',
'Беларусь', 'Казахстан'],
'population': [56.29, 38.05, 322.28, None, 0, 9.5, 17.04],
'square': [133396, 9984670, 9826630, 17125191, 603628, 207600,
2724902]
},
index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(countries_df)
display(countries_df['population'].count())

display(countries_df.describe())

      country  population    square
UK     Англия       56.29    133396
CA     Канада       38.05   9984670
US        США      322.28   9826630
RU     Россия         NaN  17125191
UA    Украина        0.00    603628
BY   Беларусь        9.50    207600
KZ  Казахстан       17.04   2724902

np.int64(6)

       population        square
count    6.000000  7.000000e+00
mean    73.860000  5.800860e+06
std    123.393338  6.605919e+06
min      0.000000  1.333960e+05
25%     11.385000  4.056140e+05
50%     27.545000  2.724902e+06
75%     51.730000  9.905650e+06
max    322.280000  1.712519e+07

In [ ]:
iter_example = ['test', 'test2', 'test3']
for idx, val in enumerate(iter_example):
   print(idx)
   print(val)

0
test
1
test2
2
test3

In [ ]:
list_comprehension = [i for i in range(5)]
print(list_comprehension)

[0, 1, 2, 3, 4]

In [ ]:
print(list(range(2,13,2)))

[2, 4, 6, 8, 10, 12]

In [ ]:
print(list(zip([1,2,3], ['apple', 'grape', 'orange'], ['x', 2, 43])))

for num, fruit, thing in zip([1,2,3], ['apple', 'grape', 'orange'], ['x', 2, True]):
    print(num)
    print(fruit)
    print(thing)

[(1, 'apple', 'x'), (2, 'grape', 2), (3, 'orange', 43)]
1
apple
x
2
grape
2
3
orange
True

In [ ]:
import numpy as np

a = np.array([i for i in range(100)])
p = np.percentile(a, 50) #Возвращает 50-ый перцентиль - медиану

print(a)

[ 0  1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19 20 21 22 23
 24 25 26 27 28 29 30 31 32 33 34 35 36 37 38 39 40 41 42 43 44 45 46 47
 48 49 50 51 52 53 54 55 56 57 58 59 60 61 62 63 64 65 66 67 68 69 70 71
 72 73 74 75 76 77 78 79 80 81 82 83 84 85 86 87 88 89 90 91 92 93 94 95
 96 97 98 99]

In [ ]:
import numpy
help(numpy.array)

Help on built-in function array in module numpy:

array(...)
    array(object, dtype=None, *, copy=True, order='K', subok=False, ndmin=0,
          like=None)

    Create an array.

    Parameters
    ----------
    object : array_like
        An array, any object exposing the array interface, an object whose
        ``__array__`` method returns an array, or any (nested) sequence.
        If object is a scalar, a 0-dimensional array containing object is
        returned.
    dtype : data-type, optional
        The desired data-type for the array. If not given, NumPy will try to use
        a default ``dtype`` that can represent the values (by applying promotion
        rules when necessary.)
    copy : bool, optional
        If ``True`` (default), then the array data is copied. If ``None``,
        a copy will only be made if ``__array__`` returns a copy, if obj is
        a nested sequence, or if a copy is needed to satisfy any of the other
        requirements (``dtype``, ``order``, etc.). Note that any copy of
        the data is shallow, i.e., for arrays with object dtype, the new
        array will point to the same objects. See Examples for `ndarray.copy`.
        For ``False`` it raises a ``ValueError`` if a copy cannot be avoided.
        Default: ``True``.
    order : {'K', 'A', 'C', 'F'}, optional
        Specify the memory layout of the array. If object is not an array, the
        newly created array will be in C order (row major) unless 'F' is
        specified, in which case it will be in Fortran order (column major).
        If object is an array the following holds.

        ===== ========= ===================================================
        order  no copy                     copy=True
        ===== ========= ===================================================
        'K'   unchanged F & C order preserved, otherwise most similar order
        'A'   unchanged F order if input is F and not C, otherwise C order
        'C'   C order   C order
        'F'   F order   F order
        ===== ========= ===================================================

        When ``copy=None`` and a copy is made for other reasons, the result is
        the same as if ``copy=True``, with some exceptions for 'A', see the
        Notes section. The default order is 'K'.
    subok : bool, optional
        If True, then sub-classes will be passed-through, otherwise
        the returned array will be forced to be a base-class array (default).
    ndmin : int, optional
        Specifies the minimum number of dimensions that the resulting
        array should have.  Ones will be prepended to the shape as
        needed to meet this requirement.
    like : array_like, optional
        Reference object to allow the creation of arrays which are not
        NumPy arrays. If an array-like passed in as ``like`` supports
        the ``__array_function__`` protocol, the result will be defined
        by it. In this case, it ensures the creation of an array object
        compatible with that passed in via this argument.

        .. versionadded:: 1.20.0

    Returns
    -------
    out : ndarray
        An array object satisfying the specified requirements.

    See Also
    --------
    empty_like : Return an empty array with shape and type of input.
    ones_like : Return an array of ones with shape and type of input.
    zeros_like : Return an array of zeros with shape and type of input.
    full_like : Return a new array with shape of input filled with value.
    empty : Return a new uninitialized array.
    ones : Return a new array setting values to one.
    zeros : Return a new array setting values to zero.
    full : Return a new array of given shape filled with value.
    copy: Return an array copy of the given object.


    Notes
    -----
    When order is 'A' and ``object`` is an array in neither 'C' nor 'F' order,
    and a copy is forced by a change in dtype, then the order of the result is
    not necessarily 'C' as expected. This is likely a bug.

    Examples
    --------
    >>> import numpy as np
    >>> np.array([1, 2, 3])
    array([1, 2, 3])

    Upcasting:

    >>> np.array([1, 2, 3.0])
    array([ 1.,  2.,  3.])

    More than one dimension:

    >>> np.array([[1, 2], [3, 4]])
    array([[1, 2],
           [3, 4]])

    Minimum dimensions 2:

    >>> np.array([1, 2, 3], ndmin=2)
    array([[1, 2, 3]])

    Type provided:

    >>> np.array([1, 2, 3], dtype=complex)
    array([ 1.+0.j,  2.+0.j,  3.+0.j])

    Data-type consisting of more than one element:

    >>> x = np.array([(1,2),(3,4)],dtype=[('a','<i4'),('b','<i4')])
    >>> x['a']
    array([1, 3], dtype=int32)

    Creating an array from sub-classes:

    >>> np.array(np.asmatrix('1 2; 3 4'))
    array([[1, 2],
           [3, 4]])

    >>> np.array(np.asmatrix('1 2; 3 4'), subok=True)
    matrix([[1, 2],
            [3, 4]])

In [ ]:
def star_triangle(r):
   for x in range(r):
      print(' '*(r-x-1)+'*'*(2*x+1))

star_triangle(3)

  *
 ***
*****

In [ ]:
my_dict = {'Bob':15, 'Ann':17, 'Vova':19}

print(sorted(my_dict))
print(my_dict)

['Ann', 'Bob', 'Vova']
{'Bob': 15, 'Ann': 17, 'Vova': 19}

In [ ]:
import numpy as np
arr = np.array([14, 23, 56])
print(arr.min())

14

In [ ]:
# Функция чтения данных
def read_data():
    data = open('war_peace_processed.txt', 'rt', encoding='utf-8').read()
    data = data.split('\n')
    return data


# Функция подсчёта частоты употребления слова в тексте
def freq(target_word):  
    new_dict = dict() 
    for i in data: # СТРОКА С ОШИБКОЙ
        if i not in new_dict:
            new_dict[i] = 1
        else:
            new_dict[i] = new_dict.get(i) + 1
    return new_dict.get(target_word, 0)


# Вызов функций
data = read_data()
freq('война')

51

In [ ]:
numpy.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

Напишите функцию apply_discounts(products, stocks), которая снижает цену продуктов в словаре products на указанный в словаре stocks процент. Функция должна вернуть результирующий словарь, ключи которого — товары, а значения — новые цены. Если продукта из словаря stocks нет в словаре products, то его необходимо пропустить. Цены округлите до второго знака после запятой.

In [ ]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}


## {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}
def apply_discounts(products, stocks):
    products_keys = list(products.keys())
    stocks_keys = list(stocks.keys())
    for product in products_keys:
        if product in stocks_keys:
            sale = int(stocks[product][:-1])
            products[product] = round(products[product]*(1-sale/100),2)
    return products


print(apply_discounts(products, stocks))

{'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 133.99, 'Juice J7 (orange)': 105.59, 'Trout (Seven Seas)': 327.99}

In [ ]:
products = {'Oranges (packaged)': 114.99, 'Candy (Rotfront)': 280.0, 'Boiled sausage': 199.99, 'Juice J7 (orange)': 119.99, 'Trout (Seven Seas)': 399.99}
stocks = {'Boiled sausage': '33%', 'Juice J7 (orange)': '12%', 'Trout (Seven Seas)': '18%'}
products_keys = list(products.keys())
stocks_keys = list(stocks.keys())
print(products_keys)
print(stocks_keys)
print(type(int(stocks['Boiled sausage'][:-1])))

['Oranges (packaged)', 'Candy (Rotfront)', 'Boiled sausage', 'Juice J7 (orange)', 'Trout (Seven Seas)']
['Boiled sausage', 'Juice J7 (orange)', 'Trout (Seven Seas)']
<class 'int'>

In [ ]:
import pandas as pd
bronze = pd.read_csv('bronze_top.csv')
silver = pd.read_csv('silver_top.csv')

In [ ]:
import pandas as pd
bronze = pd.DataFrame({
'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина',
'Беларусь', 'Казахстан'],
'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],

},
#index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
silver = pd.DataFrame({
'country': ['Англия', 'РОСТОВ', 'Монголия', 'Россия', 'ОАЭ',
'СПБ', 'Катар'],

'population': [133396, 9984670, 9826630, 17125191, 603628, 207600,
2724902]
},
#index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)
display(bronze)
display(silver)
merged = bronze.merge(silver, on='country', how='inner', suffixes=('_bronze','_silver'))
display(merged)
total2 = bronze.merge(silver,right_on='country',left_on='country', how='inner')
display(total2)

     country  population
0     Англия       56.29
1     Канада       38.05
2        США      322.28
3     Россия      146.24
4    Украина       45.50
5   Беларусь        9.50
6  Казахстан       17.04

    country  population
0    Англия      133396
1    РОСТОВ     9984670
2  Монголия     9826630
3    Россия    17125191
4       ОАЭ      603628
5       СПБ      207600
6     Катар     2724902

  country  population_bronze  population_silver
0  Англия              56.29             133396
1  Россия             146.24           17125191

  country  population_x  population_y
0  Англия         56.29        133396
1  Россия        146.24      17125191

In [ ]:
solar_data = pd.read_csv('solarpower.csv')
solar_data.head()
#print(solar_data['cum_power'].sort_values())
#print(solar_data['cum_power'].loc[45])
#print(type(solar_data.index))
index = solar_data.index
for i in index:
    if solar_data['cum_power'].loc[i] == -1:
        solar_data['cum_power'].loc[i] = (solar_data['cum_power'].loc[i-1]+solar_data['cum_power'].loc[i+1])/2

#print(solar_data['cum_power'].sort_values())
print(solar_data['cum_power'].mean())

23848.246987951807

C:\Users\Lario\AppData\Local\Temp\ipykernel_17616\4094590726.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  solar_data['cum_power'].loc[i] = (solar_data['cum_power'].loc[i-1]+solar_data['cum_power'].loc[i+1])/2
C:\Users\Lario\AppData\Local\Temp\ipykernel_17616\4094590726.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solar_data['cum_power'].loc[i] = (solar_data['cum_power'].loc[i-1]+solar_data['cum_power'].loc[i+1])/2
C:\Users\Lario\AppData\Local\Temp\ipykernel_17616\4094590726.py:9: FutureWarning: ChainedAssignmentError: behaviour will change in pandas 3.0!
You are setting values through chained assignment. Currently this works in certain cases, but when using Copy-on-Write (which will become the default behaviour in pandas 3.0) this will never work to update the original DataFrame or Series, because the intermediate object on which we are setting values will behave as a copy.
A typical example is when you are setting values in a column of a DataFrame, like:

df["col"][row_indexer] = value

Use `df.loc[row_indexer, "col"] = values` instead, to perform the assignment in a single step and ensure this keeps updating the original `df`.

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

  solar_data['cum_power'].loc[i] = (solar_data['cum_power'].loc[i-1]+solar_data['cum_power'].loc[i+1])/2
C:\Users\Lario\AppData\Local\Temp\ipykernel_17616\4094590726.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  solar_data['cum_power'].loc[i] = (solar_data['cum_power'].loc[i-1]+solar_data['cum_power'].loc[i+1])/2

In [ ]:
display(solar_data.info())
#df[date] = pd.to_datetime(df[date])
solar_data['date'] = pd.to_datetime(solar_data['date'])
solar_data['month'] = solar_data['date'].dt.month
solar_data['year'] = solar_data['date'].dt.year
solar_data['day_power'] = solar_data['cum_power'].diff()
display(solar_data)

df = solar_data.groupby(by=['year','month'])['day_power'].mean().round()
mask1 = solar_data['year'] == 2017
mask2 = solar_data['month'] = 3
solar_data[mask1&mask2]['day_power'].mean()

NameError: name 'solar_data' is not defined

In [ ]:
display(df)

year  month
2017  1         3.0
      2         4.0
      3        11.0
      4        16.0
      5        19.0
      6        22.0
      7        18.0
      8        15.0
      9        12.0
      10        6.0
      11        3.0
      12        1.0
2018  1         2.0
      2         7.0
      3         9.0
      4        15.0
      5        21.0
      6        19.0
      7        22.0
      8        17.0
      9        14.0
      10        9.0
Name: day_power, dtype: float64

In [ ]:
import plotly
import plotly.express as px
fig = px.line(
    data_frame=df, #датафрейм
    x=['year','month'], #ось абсцисс
    y='day_power', #ось ординат
    height=500, #высота
    width=1000, #ширина
    title='Confirmed, Recovered, Deaths, Active cases over Time' #заголовок
)
fig.show()

ValueError: All arguments should have the same length. The length of column argument `df[y]` is 22, whereas the length of previously-processed arguments ['x'] is 2