In [2]:
import pandas as pd
pd.__version__
print(pd.__name__)

pandas

In [99]:
#2.4 
names = ['chlorhexidine', 'cyntomycin', 'afobazol'] 
counts = [15, 18, 7]

def create_medications(names, counts):
    medications = pd.Series(data = counts, index = names, name = 'Series_medications')
    return medications


medications = create_medications(names, counts)
display(medications)

def get_percent(medications, name):
    percent = medications.loc[name]/sum(counts)*100
    return percent

display(get_percent(medications, "cyntomycin"))
print(sum(counts))

chlorhexidine    15
cyntomycin       18
afobazol          7
Name: Series_medications, dtype: int64

np.float64(45.0)

40

In [50]:
#Создаем серию через список
countries = pd.Series(
    data = ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ'],
    name = 'countries'
)
display(countries)
# Создаем серию через словарь
countries = pd.Series({
    'UK': 'Англия',
    'CA': 'Канада',
    'US' : 'США',
    'RU': 'Россия',
    'UA': 'Украина',
    'BY': 'Беларусь',
    'KZ': 'Казахстан'},
    name = 'countries'
)
#display(countries)
print(countries.iloc[1])

UK       Англия
CA       Канада
US          США
RU       Россия
UA      Украина
BY     Беларусь
KZ    Казахстан
Name: countries, dtype: object

Канада

In [20]:
# Создаем DataFrame через словарь
countries_df = pd.DataFrame({
    'country': ['Англия', 'Канада', 'США', 'Россия', 'Украина', 'Беларусь', 'Казахстан'],
    'population': [56.29, 38.05, 322.28, 146.24, 45.5, 9.5, 17.04],
    'area': [133396, 9984670, 9826630, 17125191, 603628, 207600, 2724902]
})
countries_df.index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']


# Создаем DataFrame через список
countries_df = pd.DataFrame(
    data = [
        ['Англия', 56.29, 13339],
        ['Канада', 38.05, 9984670],
        ['США', 322.28, 9826630],
        ['Россия', 146.24, 17125191],
        ['Украина', 45.5, 603628],
        ['Беларусь', 9.5, 207600],
        ['Казахстан', 17.04, 2724902]
    ],
    columns= ['country', 'population', 'area'],
    index = ['UK', 'CA', 'US', 'RU', 'UA', 'BY', 'KZ']
)

countries_df.to_csv('data/countries.csv', sep = ';', index = False)
#display(countries_df)

countries_df['population']
countries_df.population

#print(countries_df.loc[['UA','BY', 'KZ'],['area', 'population']])
print(countries_df.iloc[4:7 , 1:3])

    population     area
UA       45.50   603628
BY        9.50   207600
KZ       17.04  2724902

In [27]:
d = {'col1': [0, 1, 2, 3], 'col2': pd.Series([2, 3], index=[0, 2])}
pd.DataFrame(data=d, index=[0, 1, 2, 3])

   col1  col2
0     0   2.0
1     1   NaN
2     2   3.0
3     3   NaN

In [97]:
# 3.5 Мое решение
import numpy as np
import pandas as pd
income = [478, 512, 196]
expenses = [156, 130, 270]
years = [2018, 2019, 2020]

def create_companyDF(income,expenses, years):
    data_dict = {'Income': income,'Expenses': expenses}
    DataFrame = pd.DataFrame(data_dict, index = years)
    return DataFrame 

df = create_companyDF(income,expenses, years)


def get_profit(df, year):
    # считаем прибыль, для этого переведем списки в массивы нампай, посчитаем
    # разность и обратно в список
    arr_income = np.array(income)
    arr_exp = np.array(expenses)
    arr_del = arr_income-arr_exp
    profit = list(arr_del)
    # дополняем DF новым столбцом
    df.insert(2, 'Profit', profit)
    # Проверяем есть ли заданный год в индексах
    if year in df.index:
        return df.loc[year, 'Profit']
    return None
get_profit(df, year)
display(df) 
print(df.loc[2018,'Income']-df.loc[2018,'Expenses'])

      Income  Expenses  Profit
2018     478       156     322
2019     512       130     382
2020     196       270     -74

322

In [ ]:
# 3.5 эталонное решение
import pandas as pd

def create_companyDF(income, expenses, years):
    df = pd.DataFrame({
        'Income': income,
        'Expenses': expenses
        },
        index = years
    )
    return df

def get_profit(df, year):
    if year in df.index:
        profit = df.loc[year, 'Income'] - df.loc[year, 'Expenses']
    else:
        profit=None
    return profit

In [4]:
melb_data = pd.read_csv('data/melb_data.csv', sep = ',')

#melb_data.describe(include='object')
melb_data.dtypes
melb_data['Car'] = melb_data['Car'].astype('int64')
melb_data['Bedroom'] = melb_data['Bedroom'].astype('int64')
melb_data['Bathroom'] = melb_data['Bathroom'].astype('int64')
melb_data['Propertycount'] = melb_data['Propertycount'].astype('int64')
melb_data['YearBuilt'] = melb_data['YearBuilt'].astype('int64')
#display(abs((melb_data.BuildingArea.median() - melb_data.BuildingArea.mean())/melb_data.BuildingArea.mean())*100)
mask = melb_data.Price > 2000000

#теперь нас будут интересовать дома с ценой менее 300 тысяч, у которых либо число комнат равно 3 либо площадь домов более 100 квадратных метров:
#display(melb_data[((melb_data.Rooms == 3) | (melb_data.BuildingArea > 100)) & (melb_data.Price < 300000)])
#Давайте найдём максимальное количество комнат в таунхаусах
#display(melb_data[melb_data.Type == 't'].Rooms.max())

#найдём медианную площадь здания у объектов, чья цена выше средней.
mean_price = melb_data.Price.mean()
display(melb_data[melb_data.Price > mean_price].BuildingArea.median())

display(melb_data[(melb_data.Price < 3*10**6) & (melb_data.Type == 'h')].Regionname.mode())

np.float64(126.0)

0    Northern Metropolitan
Name: Regionname, dtype: object

In [8]:

students = pd.read_csv('data/students_performance.csv')
#display(students.head())
#display(students['math score'].describe())
stand_lunch = students[students['lunch'] == 'standard']['math score'].mean()
free_lunch = students[students.lunch != 'standard']['math score'].mean()
#display(stand_lunch, free_lunch)
print(students['parental level of education'].value_counts(normalize=True))
med_write_students = pd.read_csv('data/students_performance.csv', sep = ',')
med_write_a = students[students['race/ethnicity'] == 'group A']['writing score'].median()
mean_write_b = students[students['race/ethnicity'] == 'group C']['writing score'].mean()
print(abs(round(med_write_a-mean_write_b, 0)))

parental level of education
some college          0.226
associate's degree    0.222
high school           0.196
some high school      0.179
bachelor's degree     0.118
master's degree       0.059
Name: proportion, dtype: float64
6.0

In [1]:

import pandas as pd
import numpy as np
 
data = {'A': [1, 2, np.nan], 'B': [5, np.nan, np.nan], 'C': [1, 2, 3]}
df = pd.DataFrame(data)
display(df)
print(np.isnan(df).count())

     A    B  C
0  1.0  5.0  1
1  2.0  NaN  2
2  NaN  NaN  3

A    3
B    3
C    3
dtype: int64